*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
    width: 90%;
    margin: 25px auto 0 auto;
}

.row {
    clear: both;
}

.content {
    padding: 20px;
}

.column {
    float: left;
    padding-right: 20px;
}

.card {
    height: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.card h3{
    margin-bottom: 10px;
}

textarea{
    width: 60%;
    height: 100px;
}

@media only screen and (max-width: 895px) {
    .column {width: 100%}
}

@media only screen and (min-width: 896px) {
    .column {width: 33.33333%}
}